body {
    margin: 0;
    text-align: center;
    background-color: rgba(27, 36, 74 , 1);
    font-family: Cursed Timer Ulil;

}

@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed Timer Ulil;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score {
    background: #0a0001;
    font-family: Cursed Timer Ulil;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    padding: 10px 12px;
}

#home-btn-1 {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 8px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.7;
}

#home-btn-2 {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 8px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.7;
}

#home-btn-3 {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 8px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.7;
}

h3 {
    color: white;
}
