img {
    border-radius: 75px;
}
h1 {
    color: white;
}
h2 {
    font-size: 18px;
    color: chartreuse;
}
body {
    background-color: midnightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    color white;
    text-align: center;
}
a {
    background-color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: inline-flex;
    text-align: center;
    margin: 10px;
    color: gold;
}
#email {
    background-color: gold;
    border-radius: 20px;
    padding: 15px;
    margin: 0 auto;
    border-style: outset;
}
#Subscription {
    background-color: grey;
    font-size:20px;
    font-weight: bold;
    border-radius: 100px;
    border-style: double;
    padding: 5px;
    display: inline-box;
    margin: 5px;
    color: gold;
}

#beacons {
    background-color: grey;
    font-size:20px;
    font-weight: bold;
    border-radius: 100px;
    border-style: double;
    padding: 5px;
    display: inline-box;
    margin: 5px;
    color: chartreuse;
}

footer {
    font-weight: bold;
    font-size: large;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    margin-top: 25px;
}


@media screen and (max-width: 480px){
    #beacons {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 768px){
    #subscription {
        font-size: 0.85rem;
    }

    #email {
        width: 50%;
    }
}